<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ServerName" value="UNIT_TEST" />
    <add key="DBName" value="UNIT_TEST" />
    <add key="UserID" value="UNIT_TEST" />
    <add key="Password" value="sw{.%93p&lt;(PQAu4+" />
    <add key="InstanceName" value="Test" />
  </appSettings>
  <connectionStrings>
    <add name="UNIT_TESTContext" connectionString="metadata=res://*/DBContexts.UNIT_TESTContext.csdl|res://*/DBContexts.UNIT_TESTContext.ssdl|res://*/DBContexts.UNIT_TESTContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:192.168.45.150\\DEV,49402;initial catalog=UNIT_TEST;persist security info=True;user id=UNIT_TEST;password=sw{.%93p&lt;(PQAu4+;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Imaging" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.10.0.0" newVersion="20.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>